@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');

* {
    font-family: 'Shizuru', cursive;
}

body {
    margin-top: 50px;
    background-color: rgb(119, 231, 226);
}
div {
    margin: auto;
    vertical-align: auto;
    padding: 10px;
    font-size: 50px;
}
caption {
    border: 1px solid black;
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
    background-color: lightgreen;
}
table {
    background-color: lightcoral;
    margin: auto;
}
td {
    font-size: 30px;
    width: 100px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
}
td:hover {
    box-shadow:  0px 0px 10px 1px rgb(235, 35, 35);
    background-color: lightsalmon;
}

p#msg {
    text-align: center;
    font-size: 50px;
}
footer {
    text-align: center;
}