@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');  

* {
    font-family: 'Raleway', sans-serif;
}
body {
    padding: 50px;
    background-color: rgb(119, 231, 226);
    margin: auto;
    width: 575px;
}

body#td {
    padding: 10px;
    font-size: 30px;
    width: 552px;
}

caption {
    border: 1px solid black;
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
    background-color: lightgreen;
}
table {
    background-color: lightcoral;
    margin: auto;
}
td {
    font-size: 30px;
    width: 200px;
    height: 160px;
    border: 1px solid black;
    text-align: center;
}
td:hover {
    box-shadow:  0px 0px 10px 1px rgb(235, 35, 35);
    background-color: lightsalmon;
}

p#msg {
    text-align: center;
    font-size: 50px;
}
footer {
    border: 1px solid black;
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
    background-color: lightgreen;
    text-align: center;
}